version: '3.10'
services:
  chat_sql_app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8501:8501"

    environment:
      - ACCEPT_EULA=Y
      - AZURE_DB_SERVER = ${AZURE_DB_SERVER}
      - AZURE_DB_NAME = ${AZURE_DB_NAME}
      - AZURE_DB_USER = ${AZURE_DB_USER}
      - AZURE_DB_PASS = ${AZURE_DB_PASS}
      - AZURE_DB_PORT = ${AZURE_DB_PORT}
      - DB_DRIVER = ${DB_DRIVER}
      - AZURE_OPENAI_API_BASE = ${AZURE_OPENAI_API_BASE}
      - AZURE_API_VERSION = ${AZURE_API_VERSION}
      - AZURE_OPENAI_API_KEY = ${AZURE_OPENAI_API_KEY}
      - AZURE_OPENAI_LLM_MODEL= ${AZURE_OPENAI_LLM_MODEL}
      - AZURE_OPENAI_EMBEDDING_MODEL = ${AZURE_OPENAI_EMBEDDING_MODEL}
      - AZURE_OPENAI_MODEL_CHART = ${AZURE_OPENAI_MODEL_CHART}
      - AZURE_OPENAI_MODEL_INTENTION = ${AZURE_OPENAI_MODEL_INTENTION}
      - AZURE_OPENAI_MODEL_EXPLANATION = ${AZURE_OPENAI_MODEL_EXPLANATION}
      - SEARCH_ENDPOINT = ${SEARCH_ENDPOINT}
      - SEARCH_ADMIN_KEY = ${SEARCH_ADMIN_KEY}
      - SEARCH_INDEX_NAME = ${SEARCH_INDEX_NAME}
      - SPEECH_API_KEY = ${SPEECH_API_KEY}
    env_file: .env

